body{
    background-color: lightblue;
}
#root{
    background-color: white;
    width: 90%;
    margin: auto;
}
#headerbar{
    position: relative;
    background-color: rgb(30, 95, 117);
    height: 20px;
}
#headertext{
    position: absolute;
    left: 5%;
    color: white;
}
#login{
    position: absolute;
    left: 80%;
    color: white;
}
#logobar{
    position: relative;
}

#tagline{
    position: relative;
    background-color: rgb(30, 95, 117);
    color: white;
}
#viewport{
    margin: auto;
    text-align: center;
    
}
#delivery{
    position: relative;
}
#description{
    width: 90%;
    margin: auto;
    padding-bottom: 15px;
}